<header>
    <p>Please Choose a Train Operating Company to see disruptions</p>
    <div>
        <p>Disruptions</p>
        <a href="/northern">Northern</a>
        <a href="/tpe">Transpennine Express</a>
        <a href="/merseyrail">Merseyrail</a>
        <a href="/tfw">Transport for Wales</a>
        <a href="/emr">East Midlands Railway</a>
    </div>
    <div>
        <p>Raw JSON Data</p>
        <a href="/api/national-rail/disruptions/northern">Northern</a>
        <a href="/api/national-rail/disruptions/tpe">Transpennine Express</a>
        <a href="/api/national-rail/disruptions/merseyrail">Merseyrail</a>
        <a href="/api/national-rail/disruptions/tfw">Transport for Wales</a>
        <a href="/api/national-rail/disruptions/emr">East Midlands Railway</a>
    </div>
</header>