<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Rail Disruptions</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin:1rem auto;
            padding:0;
            max-width:800px;
        }
        header {
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
        }
        header a {
            background-color:yellow;
            color:#000;
            text-decoration: none;

            padding:0.5rem 0.9rem;
            border-radius: 3px;
        }
        main {
            padding:0.9rem;
        }
    </style>
</head>
<body>
    <%- include('header') %>
    <main>
       
    </main>
</body>
</html>